<div class="sidebar">
    <ul>
        <li class="common" data-target="sidebar01"><a href="#none">공통</a></li>
        <li class="portfolio" data-target="sidebar02"><a href="#none">포토폴리오</a></li>
    </ul>
</div>

<script>
    $(document).ready(function(){
        // HTML 요소를 선택합니다.
        const menuButton = document.querySelector('.menu');
        const sidebar = document.querySelector('.sidebar');
        
        // 메뉴 버튼 클릭 시 이벤트 핸들러를 추가합니다.
        menuButton.addEventListener('click', () => {
            // .sidebar에 'on' 클래스를 토글합니다.
            sidebar.classList.toggle('on');
        });
        
        // .sidebar의 각 li 요소를 클릭 시 이벤트 핸들러를 추가합니다.
        // $('.sidebar ul > li').click(function(e){
        //     e.stopPropagation();
        //     $(this).addClass('on').siblings().removeClass('on');
        // });
    })
</script>