/* Google Web Font */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap");

* {
	font-family: "Montserrat", sans-serif;
	box-sizing: border-box;
}
body {
	margin: 0;
	font-size: 15px;
	line-height: 1.5em;
	color: #222;
	background-color: #eee;
	display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
a {
	text-decoration: none;
	color: inherit;
}

/* Login CSS Nesting */
:root {
	--mainColor: #2ecc71;
}

.login {
	width: 400px;
	padding: 30px;
	border-radius: 20px;
	background: linear-gradient(145deg, #e1e1e1, #ffffff);
	box-shadow:  20px 20px 60px #d5d5d5,
							-20px -20px 60px #ffffff;
	& h1 {
		text-transform: capitalize;
		text-align: center;
		margin: 0;
		position: relative;
		padding-bottom: 20px;
		&:after {
			content: '';
			position: absolute;
			height: 4px;
			width: 100px;
			background-color: crimson;
			left: 50%;
			transform: translateX(-50%);
			bottom: 0;
		}
	}
	.login-info {
		text-align: center;
		text-wrap: balance;
		& b {
			color: royalblue;
			font-weight: 500;
		}
	}
	.fields {
		.field {
			position: relative;
			margin: 10px 0;
			& input:is([type=email], [type=password]) {
				display: block;
				width: 100%;
				padding: 10px;
				border: 1px solid #ccc;
				border-radius: 5px;
				outline: none;
				padding-left: 50px;
				+ img {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					left: 20px;
				}
				&::placeholder {
					text-transform: capitalize;
				}
				&:focus {
					background-color: #f8f8f8;
					border-color: var(--mainColor);
					+ img {
						filter: invert(58%) sepia(29%) saturate(904%) hue-rotate(93deg) brightness(103%) contrast(102%);
					}
				}
				&:focus::placeholder {
					visibility: hidden;
				}
			}
		}
	}
	.status {
		display: flex;
		justify-content: space-between;
		margin: 20px 0;
		& label {
			cursor: pointer;
			& input[type=checkbox] {
				display: none;
				+ em {
					/* border: 1px solid #000; */
					display: inline-block;
					width: 18px;
					height: 18px;
					margin-right: 5px;
					background: url('images/icon-radio.png') no-repeat;
					background-position: left;
					transform: translateY(4px);
				}
				&:checked + em {
					background-position: right;
				}
				&:checked + em + span {
					color: var(--mainColor);
				}
			}
		}
		& a:hover {
			text-decoration: underline;
		}
	}
	#bt-login {
		display: block;
		width: 100%;
		padding: 10px;
		border: none;
		background-color: var(--mainColor);
		color: #fff;
		font-size: 1.2em;
		cursor: pointer;
		border-radius: 5px;
		&:hover {
			background-color: #000;
		}
	}
}





















