<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DoriDori</title>
    
    <link rel="stylesheet" href="../../resources/css/ui/common.css">
    <link rel="stylesheet" href="../../resources/css/ui/default.css">

    <script type="text/javascript" src="../../resources/js/lib/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../../resources/js/lib/jquery-ui-1.12.1.js"></script>
    <script type="text/javascript" src="../../resources/js/ui/ui_plugin.js"></script>
    <script type="text/javascript" src="../../resources/js/ui/default.js"></script>
    <script type="text/javascript" src="../../resources/js/ui/ui_common.js"></script>
</head>
<body>
    <div class="wrap">
        <!-- s:header -->
        <div id="headerWrap">
            <script>
                $(document).ready(function(){
                    $("#headerWrap").load("../INCLUDE/inc_header.html");
                });
            </script>
        </div>
        <!-- //e:header -->

        <div id="container" class="contents-wrap">
            <!-- s:sidebar -->
            <div id="sideBar">
                <script>
                    $(document).ready(function(){
                        $("#sideBar").load("../INCLUDE/inc_sidebar.html");
                    });
                </script>
            </div>
            <!-- //e:sidebar -->
            <!-- s:contents -->
            <div id="contentWrap" class="content">
                <!-- s:subvisual-wrap -->
                <div class="subvisual-wrap">
                    <div class="text-wrap">
                        <h2>COMMON</h2>
                    </div>
                </div>
                <!-- //e:subvisual-wrap -->
                <div class="side-content-area">
                    <div id="sidebar01" class="sideBar-cont">
                        <form>
                            <div class="form-wrap search">
                                <div class="form-group">
                                    <div class="form-row">
                                        <div class="col-10">
                                            <input onkeyup="filter()" id="value" title="search" type="text" name="" class="form-control" placeholder="Type to Search">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="list-wrap">
                            <ul>
                                <li class="item"><a href="../COMMON/DORI-PC-COM-01.html" class="name">폰트</a></li>
                                <li class="item"><a href="../COMMON/DORI-PC-COM-02.html" class="name">form요소</a></li>
                                <li class="item"><a href="../COMMON/DORI-PC-COM-03.html" class="name">버튼</a></li>
                                <li class="item"><a href="../COMMON/DORI-PC-COM-04.htm" class="name">툴팁/라벨</a></li>
                                <li class="item"><a href="../COMMON/DORI-PC-COM-05.htm" class="name">탭</a></li>
                                <li class="item"><a href="../COMMON/DORI-PC-COM-06.htm" class="name">알럿</a></li>
                                <li class="item"><a href="../COMMON/DORI-PC-COM-07.htm" class="name">팝업</a></li>
                            </ul>
                        </div>
                    </div>
                    <div id="sidebar02" class="sideBar-cont dp-none">
                        <p>Sidebar Content 2</p>
                    </div>
                </div>
            </div>
            <!-- //e:contents -->
        </div>
    </div>
</body>
</html>