/* Google Web Font */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap");

* {
	font-family: "Montserrat", sans-serif;
	box-sizing: border-box;
}
body {
	margin: 50px;
	font-size: 15px;
	line-height: 1.5em;
	color: #222;
	/* display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh; */
}
a {
	text-decoration: none;
	color: inherit;
}

/* 이론예제 CSS */
input {
	display: block;
	margin: 10px 0;
}




















