<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DoriDori</title>
    
    <link rel="stylesheet" href="../../resources/css/ui/common.css">
    <link rel="stylesheet" href="../../resources/css/ui/default.css">

    <script type="text/javascript" src="../../resources/js/lib/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../../resources/js/lib/jquery-ui-1.12.1.js"></script>
    <script type="text/javascript" src="../../resources/js/ui/ui_plugin.js"></script>
    <script type="text/javascript" src="../../resources/js/ui/default.js"></script>
    <script type="text/javascript" src="../../resources/js/ui/ui_common.js"></script>
</head>
<body>
    <div class="wrap">
        <!-- s:header -->
        <div id="headerWrap">
            <script>
                $(document).ready(function(){
                    $("#headerWrap").load("../INCLUDE/inc_header.html");
                });
            </script>
        </div>
        <!-- //e:header -->

        <div id="container" class="contents-wrap">
            <!-- s:sidebar -->
            <div id="sideBar">
                <script>
                    $(document).ready(function(){
                        $("#sideBar").load("../INCLUDE/inc_sidebar.html");
                    });
                </script>
            </div>
            <!-- //e:sidebar -->
            <!-- s:contents -->
            <div id="contentWrap" class="content">
                <!-- s:subvisual-wrap -->
                <div class="subvisual-wrap">
                    <div class="text-wrap">
                        <h2>ALERT</h2>
                    </div>
                    <div class="breadcrumb-wrap">
                        <ul>
                            <li class="home"><a href="../MAIN/DORI-PC-MAN-001.html">홈</a></li>
                        </ul>
                    </div>
                </div>
                <!-- //e:subvisual-wrap -->
                <div id="mainContent">
                    <div class="border">
                        <div class="scroll">
                            <h4>버튼 하나</h4>
                            <button class="btn onclick" onclick="messagePopup('lyAlert01')">알럿</button>
                            <h4>버튼 둘</h4>
                            <button class="btn onclick" onclick="messagePopup('lyAlert02')">알럿-2button</button>
                        </div>
                    </div>
                    <div id="lyAlert01" class="layerpopup type-alert" tabindex="0">
                        <div class="content-wrap">
                            <div class="ly-cont-wrap">
                                <p class="tit">Alert 메시지를 입력하세요. 문구가 길어지면 화면도 길어집니다.</p>
                                <p class="tit">꼭 줄바꿈이 필요한 경우 제외하고는 넣지 마세요</p>
                            </div>
                            <div class="btn-wrap popup">
                                <button type="button" name="button" class="btn btn-bottom">확인</button>
                            </div>
                        </div>
                    </div>
                    <div id="lyAlert02" class="layerpopup type-alert" tabindex="0">
                        <div class="content-wrap">
                            <div class="ly-cont-wrap">
                                <p class="tit">Alert 메시지를 입력하세요. 문구가 길어지면 화면도 길어집니다.</p>
                                <p class="tit">꼭 줄바꿈이 필요한 경우 제외하고는 넣지 마세요</p>
                            </div>
                            <div class="btn-wrap popup">
                                <button type="button" name="button" class="btn btn-close" data-focus="btn-layer-close">취소</button>
                                <button type="button" name="button" class="btn btn-bottom">확인</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //e:contents -->
        </div>
    </div>
</body>
</html>