<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DoriDori</title>
    
    <link rel="stylesheet" href="../../resources/css/ui/common.css">
    <link rel="stylesheet" href="../../resources/css/ui/default.css">

    <script type="text/javascript" src="../../resources/js/lib/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../../resources/js/lib/jquery-ui-1.12.1.js"></script>
    <script type="text/javascript" src="../../resources/js/ui/ui_plugin.js"></script>
    <script type="text/javascript" src="../../resources/js/ui/ui_common.js"></script>
    <script type="text/javascript" src="../../resources/js/ui/default.js"></script>
</head>
<body>
    <div class="wrap">
        <!-- s:header -->
        <div id="headerWrap">
            <script>
                $(document).ready(function(){
                    $("#headerWrap").load("../INCLUDE/inc_header.html");
                });
            </script>
        </div>
        <!-- //e:header -->

        <div id="container" class="contents-wrap">
            <!-- s:sidebar -->
            <div id="sideBar">
                <script>
                    $(document).ready(function(){
                        $("#sideBar").load("../INCLUDE/inc_sidebar.html");
                    });
                </script>
            </div>
            <!-- //e:sidebar -->
            <!-- s:contents -->
            <div id="contentWrap" class="content">
                <!-- s:subvisual-wrap -->
                <div class="subvisual-wrap">
                    <div class="text-wrap">
                        <h2>FONT</h2>
                    </div>
                    <div class="breadcrumb-wrap">
                        <ul>
                            <li class="home"><a href="../MAIN/DORI-PC-MAN-001.html">홈</a></li>
                        </ul>
                    </div>
                </div>
                <!-- //e:subvisual-wrap -->
                <div class="border">
                    <h4>INPUT</h4>
                    <div class="form-wrap">
                        <div class="form-group">
                            <label for="">성명</label>
                            <input id="" title="" type="text" name="" class="form-control" placeholder="성명">
                        </div>
    
                        <div class="form-group">
                            <label for="">Valid</label>
                            <input id="" title="" type="text" name="" class="form-control" placeholder="Valid" value="Valid">
                        </div>
    
                        <div class="form-group">
                            <label for="">Disabled</label>
                            <input id="" title="" type="text" name="" class="form-control" placeholder="Disabled" disabled>
                        </div>
    
                        <div class="form-group">
                            <label for="">Readonly</label>
                            <input id="" title="" type="text" name="" class="form-control" placeholder="disabled" readonly>
                        </div>

                        <div class="form-group">
                            <label for="">주민등록번호 뒷자리 하나만 노출될 경우</label>
                            <div class="form-row"><!--[20241104] input 수정-->
                                <div class="col-2">
                                    <input id="" title="주민등록번호 앞자리" type="number" class="form-control" min="0" step="1" maxlength="6" oninput="this.value = this.value.slice(0, 6)" name="" value="" placeholder="" >
                                </div>
                                <div class="input-hyphen">-</div>
                                <div class="col-2">
                                    <input id="" title="주민등록번호 뒷자리" type="number" class="form-control jumin" min="0" step="1" maxlength="1" oninput="this.value = this.value.slice(0, 1)" placeholder="●" name="" value="">
                                    <span class="jumintext">●●●●●●</span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="">금액</label>
                            <div class="col-1">
                                <input id="" type="amount" class="form-control amount-num" placeholder="금액을 입력해주세요"
                                    inputmode="numeric"><!-- [D] inputmode="numeric" : 세자리 수마다 콤마 적용  -->
                                <span class="amount-txt">원</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="">Datepicker</label>
                            <div class="form-row">
                                <div class="col-2">
                                    <input type="text" id="" title="기간" name="from" class="form-control datepicker" placeholder="YYYY.MM.DD" readonly ><!-- [D] : datepicker 클래스 : datepicker Custom-->
                                </div>
                                <div class="input-hyphen">~</div>
                                <div class="col-2">
                                    <input type="text" id="" title="기간" name="to" class="form-control datepicker" placeholder="YYYY.MM.DD" readonly ><!-- [D] : datepicker 클래스 : datepicker Custom-->
                                </div>
                                <button class="btn btn-input" name="btnSearch" type="button">조회</button>
                            </div>
                        </div>
    
                        <div class="form-group">
                            <label for="">Full Datepicker</label>
                            <input type="text" id="" title="기간" name="date" class="form-control datepicker" placeholder="YYYY.MM.DD" readonly ><!-- [D] : datepicker 클래스 : datepicker Custom-->
                        </div>

                        <div class="form-group">
                            <label for="" class="essential">기본</label><!-- [D] essential 클래스 : 필수 입력폼  -->
                            <div class="form-row"><!-- [D] 인풋/버튼 클릭 시 팝업 호출 영역  -->
                                <div class="col-1">
                                    <input id="" title="" type="text" class="form-control" name="" placeholder="내용을 선택해 주세요">
                                </div>
                                <button class="btn btn-input" type="button">버튼명</button>
                            </div>
                        </div>
    
                        <div class="form-group">
                            <label for="" class="essential">Disabled</label><!-- [D] essential 클래스 : 필수 입력폼  -->
                            <div class="form-row"><!-- [D] 인풋/버튼 클릭 시 팝업 호출 영역  -->
                                <div class="col-1">
                                    <input id="" title="" type="text" class="form-control" name="" placeholder="내용을 선택해 주세요" disabled="">
                                </div>
                                <button class="btn btn-input" type="button" disabled="">버튼명</button>
                            </div>
                        </div>
    
                        <div class="form-group">
                            <label for="" class="essential">완료</label><!-- [D] essential 클래스 : 필수 입력폼  -->
                            <div class="form-row"><!-- [D] 인풋/버튼 클릭 시 팝업 호출 영역  -->
                                <div class="col-1">
                                    <input id="" title="" type="text" class="form-control" name="" value="내용을 입력 했습니다">
                                </div>
                                <button class="btn btn-input active" type="button">버튼명</button><!-- [D] active 클래스 : 완료 됐을 경우 활성화 -->
                            </div>
                        </div>
                    </div>
                    <h4>SELECT</h4>
                    <h4>CHECKBOX</h4>
                    <h4>RADIO</h4>
                    <h4>TOGGLE</h4>
                </div>
            </div>
            <!-- //e:contents -->
        </div>
    </div>
</body>
</html>