<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DoriDori</title>
    
    <link rel="stylesheet" href="../../resources/css/ui/common.css">
    <link rel="stylesheet" href="../../resources/css/ui/default.css">

    <script src="../../resources/js/lib/jquery-1.9.1.min.js"></script>
    <script src="../../resources/js/ui/ui_common.js"></script>
    <script src="../../resources/js/ui/default.js"></script>
</head>
<body>
    <div class="wrap">
        <!-- s:header -->
        <div id="headerWrap">
            <script>
                $(document).ready(function(){
                    $("#headerWrap").load("../INCLUDE/inc_header.html");
                });
            </script>
        </div>
        <!-- //e:header -->

        <div id="container" class="contents-wrap">
            <!-- s:sidebar -->
            <div id="sideBar">
                <script>
                    $(document).ready(function(){
                        $("#sideBar").load("../INCLUDE/inc_sidebar.html");
                    });
                </script>
            </div>
            <!-- //e:sidebar -->
            <!-- s:contents -->
            <div id="contentWrap" class="content">
                <!-- s:subvisual-wrap -->
                <div class="subvisual-wrap">
                    <div class="text-wrap">
                        <h2>TITLE</h2>
                    </div>
                </div>
                <!-- //e:subvisual-wrap -->
            <!-- //e:contents -->
        </div>
    </div>
</body>
</html>