@charset "UTF-8";

*:focus-visible { outline:2px solid var(--focus); }/*2024-03-19:focus-visible로 변경*/
* { margin:0; padding:0; box-sizing:border-box; }
html, 
body { width:100%; height:100%; line-height:1.5; font-size:16px; font-family:"NanumGothic", sans-serif; font-weight:400; color:#555555; word-break:keep-all; word-wrap:word-break; -webkit-text-size-adjust: none; -moz-text-size-adjust: none; -ms-text-size-adjust: none; }
ul, ol { list-style:none; }
a { display:block; width:100%; height:100%; text-decoration:none; }
a:link, a:hover, a:active, a:visited { color:#333; }
button { overflow:hidden; border:0; cursor:pointer; background:transparent; }
em,i { font-style:normal; }
textarea { padding:10px; font-size:1.125rem; resize:none;  outline-color:#002c69; }
html, body, div, ul, ol, dl, li, dt, dd, p, h1, h2, h3, h4, h5, h6, table, thead, tbody, tr, th, td, caption, address,
canvas, details, figure, figcaption, footer, header, menu, nav, section, article, aside,
form, fieldset, button, select, textarea, input, fieldset, legend, label, a, span, strong, em, address, dfn, small, i, b, ::before, ::after { position:relative; margin:0; padding:0; border:0; list-style:none; word-break:break-all; word-wrap:inherit; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box; }
article, aside, canvas, details, figure, figcaption, footer, header, menu, nav, section { display:block; }
html[lang=ja] body, html[lang=zh] body { word-break:normal;}
[hidden], hr { display:none; }
img { vertical-align:middle; width:100%; }
b, strong { font-weight:bold; color:#555; }
fieldset,iframe { width:100%; }
img, a, frame, iframe, fieldset { border:0; }
table { width:100%; border-spacing:0; border-collapse:separate; }
caption { height:1px; overflow:hidden; } 
/* legend { position:absolute; left:-9999em; top:-9999em; } */
button::-moz-focus-inner { padding:0px; border:0px; }

ul, dl { letter-spacing:-4px; font-size:0; }
ul > li, 
dl > dt, 
dl > dd { letter-spacing:normal; font-size:1rem; } 


/** Nanum Gothic **/
@font-face {
  font-family: 'NanumGothic';
  src: url(../webfont/NanumGothic/NanumGothic.eot);
  src: url(../webfont/NanumGothic/NanumGothic.eot?#iefix) format('embedded-opentype'),
       url(../webfont/NanumGothic/NanumGothic.woff) format('woff'),
       url(../webfont/NanumGothic/NanumGothic.ttf) format('truetype');
}
@font-face {
  font-family: 'NanumGothicBold';
  src: 
       url(../webfont/NanumGothic/NanumGothicBold.otf) format('embedded-opentype'),
       url(../webfont/NanumGothic/NanumGothicBold.ttf) format('truetype'),
       url(../webfont/NanumGothic/NanumGothicBold.woff) format('woff');
}
@font-face {
  font-family: 'NanumGothicExtraBold';
  src: 
       url(../webfont/NanumGothic/NanumGothicExtraBold.otf) format('embedded-opentype'),
       url(../webfont/NanumGothic/NanumGothicExtraBold.ttf) format('truetype'),
       url(../webfont/NanumGothic/NanumGothicExtraBold.woff) format('woff');
}
@font-face {
  font-family: 'NanumGothicLight';
  src: 
       url(../webfont/NanumGothic/NanumGothicLight.otf) format('embedded-opentype'),
       url(../webfont/NanumGothic/NanumGothicLight.ttf) format('truetype'),
       url(../webfont/NanumGothic/NanumGothicLight.woff) format('woff');
}

body, h1, h2, h3, h4, h5, h6, input, textarea, select { font-family: 'Nanum Gothic', sans-serif;}
.skip { position:relative; }
.skip > button{ position:absolute; bottom:-200px; width:50px; height:45px; line-height:45px; color:var(--white); background:var(--primary); border-radius:10px; }



/* ===================== 예약어 css =======================================================*/
.dp-none { display:none !important; }
.dp-block { display:block !important; }
.hidden { display:block; width:0; height:0; line-height:0; font-size:0; margin:0; padding:0; overflow: hidden; }
.badge { display:inline-block; padding-left:5px; width:60px; text-align:center; line-height:1.2; border-radius:50px; font-weight:700; color:var(--point); font-size:var(--font-14); }
.scrollLock { overflow: hidden; }

/* 양쪽 padding값 필요 없을 때 */
.type-spread {  margin:0 -20px !important; }


/* padding */
.pt0 { padding-top:0!important; }
.pt10 { padding-top:10px!important; }
.pt20 { padding-top:20px!important; }
.pt30 { padding-top:30px!important; } 
.pt40 { padding-top:40px!important; }
.pt50 { padding-top:50px!important; }

.pr10 { padding-right:10px!important; }
.pr20 { padding-right:20px!important; }
.pr30 { padding-right:30px!important; }
.pr40 { padding-right:40px!important; }
.pr50 { padding-right:50px!important; }

.pb10 { padding-bottom:10px!important; }
.pb20 { padding-bottom:20px!important; }
.pb30 { padding-bottom:30px!important; } 
.pb40 { padding-bottom:40px!important; }
.pb50 { padding-bottom:50px!important; }

.pl10 { padding-left:10px!important; }
.pl20 { padding-left:20px!important; }
.pl30 { padding-left:30px!important; } 
.pl40 { padding-left:40px!important; }
.pl50 { padding-left:50px!important; }



/* margin */
.mt0 { margin-top:0!important; }
.mt10 { margin-top:10px!important; }
.mt20 { margin-top:20px!important; }
.mt30 { margin-top:30px!important; } 
.mt40 { margin-top:40px!important; }
.mt50 { margin-top:50px!important; }
.mt60 { margin-top:60px!important; }

.mr10 { margin-right:10px!important; }
.mr20 { margin-right:20px!important; }
.mr30 { margin-right:30px!important; }
.mr40 { margin-right:40px!important; }
.mr50 { margin-right:50px!important; }

.mb10 { margin-bottom:10px!important; }
.mb20 { margin-bottom:20px!important; }
.mb30 { margin-bottom:30px!important; } 
.mb40 { margin-bottom:40px!important; }
.mb50 { margin-bottom:50px!important; }

.ml10 { margin-left:10px!important; }
.ml20 { margin-left:20px!important; }
.ml30 { margin-left:30px!important; } 
.ml40 { margin-left:40px!important; }
.ml50 { margin-left:50px!important; }

/* 너비 */
.w-auto { width:auto!important; }
.w100 { width:100px!important; }
.w150 { width:150px!important; }
.w250 { width:250px!important; }
.w300 { width:300px!important; }
.w100p { width:100%!important; }


.col02 > div,
.col02 > li { display:inline-block;  width:calc(100% / 2)!important; }
.col03 > a,
.col03 > div,
.col03 > li { display:inline-block; width:calc(100% / 3)!important; }
.col04 > a,
.col04 > div,
.col04 > li { display:inline-block; width:calc(100% / 4)!important; }
.col05 > div,
.col05 > li { display:inline-block; width:calc(100% / 5)!important; }
.col06 > div,
.col06 > li { display:inline-block; width:calc(100% / 6)!important; }
.col07 > div,
.col07 > li { display:inline-block; width:calc(100% / 7)!important; }

.ta-l { text-align:left!important;}
.ta-c { text-align:center!important;}
.ta-r { text-align:right!important;}
.info-txt-wrap::before  { text-align:left!important;}


input[type="checkbox"],
input[type="radio"] { display:none; }


/* .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col { width:100%; } */

.form-row { gap:15px; }
.form-wrap.login .form-row { gap:0; }
.form-row:has(.input-phone) { gap:0; }

/* .col { -ms-flex-preferred-size:0;  flex-basis:0;  -ms-flex-positive:1; flex-grow:1; width:50%; }/// */
.col-1 { -ms-flex: 0 0 10%; flex: 0 0 10%; max-width:10%; }
.col-2 { -ms-flex: 0 0 20%; flex: 0 0 20%; max-width:20%; }
.col-3 { -ms-flex: 0 0 30%; flex: 0 0 30%; max-width:30%; }
.col-4 { -ms-flex: 0 0 40%; flex: 0 0 40%; max-width:40%; }
.col-5 { -ms-flex: 0 0 50%; flex: 0 0 50%; max-width:50%; }
.col-6 { -ms-flex: 0 0 60%; flex: 0 0 60%; max-width:60%;}
.col-7 { -ms-flex: 0 0 70%; flex: 0 0 70%; max-width:70%; }
.col-8 { -ms-flex: 0 0 80%;flex: 0 0 80%; max-width:80%; }
.col-9 { -ms-flex: 0 0 90%; flex: 0 0 90%; max-width:90%; }
.col-10 { -ms-flex: 0 0 100%; flex: 0 0 100%; max-width:100%; }


*,
*::before,
*::after { box-sizing: border-box; outline:none; }

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section { display: block; }
[tabindex="-1"]:focus { outline: 0 !important; }
ul, ol, li, dl, dt, dd  { list-style:none; margin:0; padding:0; }

body, p, h1, h2, h3, h4, h5, h6, table, caption, form, fieldset, legend, span, div, th, td, address { position:relative; margin:0; padding:0; }
label,
.form-tit { display: inline-block; font-size:0.875rem; line-height:1rem;  }
label:not(label.check-button),
.form-tit { margin-bottom:7px; }
.dp-none { display:none; }
caption{width:0; height:0; text-indent:-10000px; font-size:0; line-height:0; position:absolute; left:-99999px; }
table{/*border-collapse:collapse;*/ border-spacing:0; width:100%}
a { /* color: #007bff; */ color:#B2B2B2; text-decoration:none; background-color:transparent; }
img,
svg { vertical-align:middle; border-style:none; }
table { border-collapse:collapse; }
button { border-radius:0; }
textarea { overflow-y:scroll; width:100%; height:200px; padding:10px; resize:none; border-radius:4px; border:1px solid #DDDDDD; background:#FFFFFF; font-size:0.875rem; line-height:1rem; color:#AAAAAA; font-weight:300; white-space:pre-line; }
textarea::placeholder { color:#AAAAAA; }
textarea:focus { color:#000000; font-size:0.875rem; font-weight:300; border-color:#003763; outline:none; }
textarea:valid { color: #000000 !important; }


button,
input { overflow: visible; }

input {  vertical-align: middle; padding: 0; margin: 0; border:1px solid var(--border1); }

/* input normal style */
input[type="text"]:not(input[type="text"].add, .login-wrap input[type="text"],.login-wrap2 input[type="text"], .login-wrap2 input[type="password"], input[type="text"].bid-price ),
input[type="password"],
input[type="tel"],
input[type="date"],
input[type="month"],
input[type="search"],
input[type="email"],
input[type="number"],
input[type="amount"],
select,
.select-items div,
.select-selected { display:inline-block; padding:10px 12px; width:100%; max-width:240px; height:48px; box-sizing:border-box; background:var(--white); border-radius:5px; font-size:var(--font-16); line-height:1rem; font-weight:400; text-align:left; font-family:inherit; -webkit-appearance:none; -moz-appearance:none; appearance:none; }

input[type="text"].bid-price { display:inline-block; padding:10px 12px; width:140px; height:48px; box-sizing:border-box; background:var(--white); border-radius:5px; font-size:var(--font-16); line-height:1rem; font-weight:400; text-align:left; font-family:inherit; -webkit-appearance:none; -moz-appearance:none; appearance:none; }
input[type="text"].add,
.login-wrap input[type="text"] { display:inline-block; padding:10px 12px; width:100%; height:48px; box-sizing:border-box; background:var(--white); border-radius:5px; font-size:var(--font-16); line-height:1rem; font-weight:400; text-align:left; font-family:inherit; -webkit-appearance:none; -moz-appearance:none; appearance:none; }
select::-ms-expand { display:none; }
.select { -o-appearance: none; -webkit-appearance: none; -moz-appearance: none; appearance:none; }
select, .select-box { outline:none; -webkit-webkit:none; }

/* input:focus{ border:2px solid var(--focus); } */

.btnClear { display: inline-block; border:1px solid transparent; background-color: transparent; vertical-align: middle; outline: 0; cursor: pointer; }
.btnClear:after { content: "X";	position: absolute;	right: 15px;	top: 0; bottom: 0; display: block;	margin: auto; padding: 2px;	width: 15px; height: 15px; border-radius: 50%; text-align: center; font-weight: normal; font-size: 12px; cursor: pointer;	z-index:1; }

select { position:relative; display:inline-block; width:100%; height:40px; padding:10px 5px; border:1px solid #ddd; border-radius:var(--border1-radius10);  }
textarea { position:relative; display:inline-block; width:100%; padding:10px 5px; border:1px solid #ddd; border-radius:5px; font-size:1rem; font-family:"NanumGothic", sans-serif; }

/* input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; } */

:root {
  --font-14:0.875rem;
  --font-16:1rem;
  --font-18:1.125rem;
	--font-20:1.250rem;
	--font-36:2.25rem;
	--font-40:2.5rem;
	--white:#FFFFFF;
	--title:#333333;
	--normal: #555555;
  --subtitle:#757575;
  --point:#D70A30;
	--border1: #CCCCCC;
	--border2: #EEEEEE;
  --primary:#E3F1FF;
	--darkblue: #0E3962;
  --focus:#395CA8;
  --background1:#F9FCFF;
	--background2: #F8F8F8;
}

/*********************************************************************************타이틀**/
h2,
.txt-tit01 { font-size:2.38rem; color:var(--title);   }
h3,
.txt-tit02 { margin-bottom:20px; font-size:var(--font-14); font-weight:400; color:var(--title); text-align:left; }
.sub-visual h2{  display:block; text-align:center; color:var(--white); }
/* h3 > div {  display:block; margin-top:3px; font-size:1rem; font-weight:400; color:var(--normal); } */
h3 > span.red { color:var(--point); }
span.blue { color:var(--focus); }
h4,
.txt-tit03{ font-size:var(--font-size24) !important; font-weight:700 !important;  }

/*********************************************************************************폼**/


input[type="radio"],
input[type="checkbox"] { position:absolute; left:0; opacity:0; height:0; width:0; }
input[type="checkbox"] + label { display:inline-block; padding-left:28px; line-height:20px; }
input[type="checkbox"] + label:before { content:""; display:inline-block; position:absolute; top:50%; left:0; width:20px; height:20px; transform:translate(0, -50%); border:1px solid var(--border1); border-radius:5px;
    background-color:var(--white);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10.02' height='7.24'%3E%3Cpath fill='none' stroke='%23ccc' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M8.96 1.06 3.53 6.5 1.06 4.02' data-name='패스 55'/%3E%3C/svg%3E");
    background-repeat:no-repeat; background-position:center center; background-size:8px;
}
table input[type="checkbox"] + label:before { top:50%; left:50%; transform:translate(-50%,-50%); }

input[type="checkbox"]:checked + label { display:inline-block;  color:var(--darkblue); font-weight:500; }
table input[type="checkbox"] + label { padding:0; margin:0; width:20px; height:20px; }

input[type="checkbox"]:checked + label:before {   border:1px solid var(--darkblue); background:var(--darkblue);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10.015' height='7.237'%3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M8.955 1.061 3.528 6.488 1.061 4.021'/%3E%3C/svg%3E");
    background-repeat:no-repeat; background-position:center center; background-size:10px;
}
input[type="checkbox"]:disabled + label{  color:var(--normal-op80); }
input[type="checkbox"]:disabled + label:before { background-color:var(--disabled);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10.015' height='7.237'%3E%3Cpath fill='none' stroke='%23eee' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M8.955 1.061 3.528 6.488 1.061 4.021'/%3E%3C/svg%3E");
  background-repeat:no-repeat; background-position:center center; background-size:8px;
}

input[type="radio"] + label.btn,
input[type="checkbox"] + label.btn { padding:10px 12px; min-width:80px; background:var(--white); border:1px solid var(--border1); border-radius:var(--border1-radius10); text-align:center;  }

input[type="radio"] + label.btn::before ,
input[type="checkbox"] + label.btn::before { display:none; }
input[type="radio"]:checked + label.btn,
input[type="checkbox"]:checked + label.btn {  border:1px solid var(--primary); color:var(--primary);  }
input[type="radio"] + label.btn>span,
input[type="checkbox"] + label.btn>span { display:inline-block; padding-left:15px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' data-name='layer 2' viewBox='0 0 7.81 5.84'%3E%3Cpath d='M2.72 5.84c-.19 0-.38-.07-.53-.22L.22 3.65c-.29-.29-.29-.77 0-1.06s.77-.29 1.06 0l1.44 1.44L6.53.22c.29-.29.77-.29 1.06 0s.29.77 0 1.06L3.25 5.62c-.15.15-.34.22-.53.22Z' data-name='layer 1' style='fill:%23cccccc;stroke-width:0'/%3E%3C/svg%3E");
    background-repeat:no-repeat; background-position:left center; background-size:10px;
}
input[type="radio"]:checked + label.btn>span,
input[type="checkbox"]:checked + label.btn>span { display:inline-block; padding-left:15px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' data-name='layer 2' viewBox='0 0 7.81 5.84'%3E%3Cpath d='M2.72 5.84c-.19 0-.38-.07-.53-.22L.22 3.65c-.29-.29-.29-.77 0-1.06s.77-.29 1.06 0l1.44 1.44L6.53.22c.29-.29.77-.29 1.06 0s.29.77 0 1.06L3.25 5.62c-.15.15-.34.22-.53.22Z' data-name='layer 1' style='fill:%2339A2A3;stroke-width:0'/%3E%3C/svg%3E");
    background-repeat:no-repeat; background-position:left center; background-size:10px;
}
input[type="radio"]:disabled + label.btn,
input[type="checkbox"]:disabled + label.btn{  background:var(--disabled); } 

input:disabled,
.btn-select:disabled { background:var(--disabled); color:var(--normal-op80); }

input[type="checkbox"].toggle + label{ display:block; width:60px; height:35px; border:1px solid var(--border1); border-radius:50px; }
input[type="checkbox"].toggle + label::before { display:block; position:absolute; top:50%; left:4px; transform:translate(0, -50%); width:25px; height:25px; border:0; border-radius:50%; box-shadow:0 2px 1px #d1cfcf; background:linear-gradient( #DDDDE0, #C5C5C6 );  transition: all 0.2s ease-in; }
input[type="checkbox"]:checked.toggle + label{ background:var(--primary); border:1px solid var(--primary); color:var(--white); }
input[type="checkbox"]:checked.toggle + label::before { left:calc(100% - 29px); background:linear-gradient(#ffffff, #EDEDED); }

input[type="checkbox"].toggle.yn + label { width:75px; }
input[type="checkbox"].toggle.yn + label::after{ content:"No"; display:inline-block; position:absolute; right:10px; padding-left:10px; line-height:35px; }
input[type="checkbox"]:checked.toggle.yn + label::after { content:"Yes"; left:0; right:0; color:var(--white); }


input[type="checkbox"].toggle.tab + label { width:220px; height:50px; background:var(--background2); border:1px solid var(--border1); border-radius:10px; }
input[type="checkbox"].toggle.tab + label::before { content:"예"; display:inline-block;   }
input[type="checkbox"].toggle.tab + label::after{ content:"아니오"; display:inline-block; position:absolute; right:10px; padding-left:10px; line-height:35px; }
input[type="checkbox"]:checked.toggle.tab + label::after { content:"예"; left:0; right:0; color:var(--white); }

.toggle-radio{ display:inline-block; padding:5px 6px; width:auto; height:57px; background:var(--border1); border-radius:var(--border1-radius10); }
.toggle-radio input[type="radio"] + label { display:inline-block; width:117px; height:47px; color:var(--normal-op60); line-height:47px; text-align:center; border-radius:var(--border1-radius10); }
.toggle-radio input[type="radio"] + label:last-of-type { margin-left:-4px; }
.toggle-radio input[type="radio"]:checked + label {  background:var(--primary); color:var(--white); }


/* input::-webkit-search-cancel-button{ background: #000;} */

/* skip navigation */
.skip_nav a { width:100%; padding:25px 0; position:absolute; left:0; top:-50px; text-align:center; font-size:var(--font-size24); line-height:0; z-index:99999; background-color:var(--darkblue); color:#fff; }
.skip_nav a:focus,
.skip_nav a:active { top:0; }

.btn input {  padding-right:35px; }
.btn input + .btn-wrap,
.btn .select-wrap + .btn-wrap { position:absolute; top:50%; transform:translate(0, -50%); right:12px; }

.form-group + .form-group { margin-top:15px; }
.list-wrap .form-group + .form-group { margin-top:0; }
.form-group.failed input,
.form-group.failed .btn-select{  border:1px solid var(--failed); color:var(--failed);  }
.form-group.won::after{ content:"원"; position:absolute; bottom:7px; right:12px; transform:translate(0, 0); display:inline-block; margin-left:3px; width:20px; text-align:right;}
.form-group.manwon::after{ content:"만원"; position:absolute; bottom:7px; right:12px; transform:translate(0, 0); display:inline-block; margin-left:3px; width:70px; text-align:right; line-height:1.6rem;}
.form-group.manwon dd.in-manwon::after{ content:"만원"; position:absolute; bottom:27px; right:25px; transform:translate(0, 0); display:inline-block; margin-left:3px; width:70px; text-align:right;}
.form-group.month::after{ content:"개월"; position:absolute; bottom:7px; right:12px; transform:translate(0, 0); display:inline-block; margin-left:3px; width:70px; text-align:right;}
.form-group.rate::after{ content:"%"; position:absolute; bottom:7px; right:12px; transform:translate(0, 0); display:inline-block; margin-left:3px; width:20px; text-align:right;}

.form-row { display:-ms-flexbox; display:flex; -ms-flex-wrap:nowrap; flex-wrap:nowrap; align-items:center; width:100%; }
.form-row + .form-row { margin-top:10px; }
.form-row > div.col{ width:100%; max-width:240px; letter-spacing:-4px; }
.form-row > div.col  * { letter-spacing:normal; }
.form-row + div.col { margin-top:15px; }


.form-row.birthday > div.col>input,
.form-row.birthday > div.col>select { display:inline-block; width:calc(100% - 5px); }
.form-row.birthday > div.col:last-of-type>input,
.form-row.birthday > div.col:last-of-type>select { width:100%; }

.form-row.birthday > div.col:after{ content:""; position:absolute; top:50%; right:12px; transform:translate(0, -50%); display:inline-block; margin-left:3px; width:20px; text-align:center; }
.form-row.birthday > div.col:first-of-type:after{ content:"년"; }
.form-row.birthday > div.col:nth-of-type(2):after{ content:"월"; }
.form-row.birthday > div.col:nth-of-type(3):after{ content:"일"; }


/****폼레이아웃****/
.form-group label{ font-size:1rem; font-weight:500; }
.form-group .fail { display:none;  }
.form-group.failed label{  color:var(--failed); }
.form-group.failed .fail { display:block; }
.form-group.flex { display:flex; text-align:center; }


/****select****/
.select-wrap .btn-select { display:inline-block; padding:10px 12px; width:240px; height:48px; box-sizing:border-box; background:var(--white); border-radius:5px; font-size:var(--font-16); color:var(--subtitle); line-height:1rem; font-weight:400; text-align:left; font-family:inherit; border:1px solid var(--border1); }
.select-wrap .btn-select.select-ok { color:var(--title); }
.select-wrap + .form-row { margin-top:15px; }
.select-wrap select { display: none; }
.select-wrap .btn-select::after { content:""; position:absolute; top:50%; right:20px; transform:translate(0, -50%); display:block; width:20px; height:20px; background-repeat:no-repeat; background-position:center;  transition: all ease .5s; 
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none'%3E%3Cg clip-path='url(%23a)'%3E%3Cmask id='b' width='11' height='6' x='4' y='7' maskUnits='userSpaceOnUse' style='mask-type:luminance'%3E%3Cpath fill='%23fff' d='M15 7H5v6h10V7Z'/%3E%3C/mask%3E%3Cg mask='url(%23b)'%3E%3Cpath stroke='%23757575' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m5.87 7.86 3.99 3.99 3.99-4'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h20v20H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}
.select-wrap .btn-select.action,
.form-wrap.search .form-group .form-row .col .select-wrap .btn-select.action { border:2px solid var(--focus); border-bottom:0; border-radius:10px 10px 0 0; color:var(--focus); font-weight:700; }
.select-wrap .btn-select.action::after,
.form-wrap.search .form-group .form-row .col .select-wrap .btn-select.action::after {  transform:translate(0, -50%) rotate(-180deg);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20'%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='none' d='M845 491h-20v-20h20z' data-name='_격리_모드 %5BFrame Clip Content Mask%5D'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg fill='none' clip-path='url(%23a)' data-name='_격리_모드 (Clip Content)' transform='rotate(180 422.5 245.5)'%3E%3Cpath d='M845 491h-20v-20h20z' data-name='_격리_모드 %5BFrame Background%5D'/%3E%3Cpath d='M845 491h-20v-20h20Z' data-name='사각형 21754'/%3E%3Cpath d='M840 484h-10v-6h10Z'/%3E%3Cpath stroke='%23395ca8' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m831.15 483.14 3.99-3.99 3.99 3.99' data-name='icon arr'/%3E%3C/g%3E%3C/svg%3E");
}
.select-wrap .select-list { display:none; background:var(--white); }
.select-wrap .btn-select.action + .select-list{ position:absolute; z-index:2; left:0; right:0; top:40px; display:block; width:100%; max-width:240px; }
.select-wrap .select-list{ padding: 5px 23px 5px 0; border:2px solid var(--focus); border-top:0; border-radius:0 0 10px 10px; }
.select-wrap .select-list ul { max-height: 420px; overflow-y: auto; }
.select-wrap .select-list ul::-webkit-scrollbar { width:15px; scroll-margin-right:15px; }
.select-wrap .select-list ul::-webkit-scrollbar-thumb { width:11px; background-color:var(--focus); border-radius:5px; }
.select-wrap .select-list ul::-webkit-scrollbar-track { width:15px; background-color:var(--background2); border-radius:5px; }
.select-wrap .select-list li { padding:5px 12px; }
.select-wrap .select-list li button {  width:100%; font-size:var(--font-14); font-weight:400; color:var(--focus); text-align:left;  }

.select-wrap .btn-select.txt::after { right:30px; }

/*********radio*********/
.radio-bg-button input[type="radio"] + label { width:100%; padding:10px 5px; background:#FAFAFA; border:1px solid var(--border1); font-size:0.875rem; line-height:1rem; font-weight:500; color:var(--gray); text-align:center; border-radius:var(--bofrder-radius4); }
.radio-bg-button input[type="radio"]:checked + label { background:var(--default); border:2px solid var(--primary); color:var(--primary); cursor:pointer; }
.radio-bg-button input[type="radio"] + label .img { position:relative; }
.radio-bg-button input[type="radio"] + label .img::before {  position:absolute; content:""; transform:translateY(-50%); top:40%; left:-37px;  width:36px; height:36px; }
.radio-bg-button input[type="radio"] + label.img { padding-left:36px; }

.form-group.manwon dd.in-manwon:has(.w300)::after { right:0; }/*2024-03-20 추가*/

/*********************************************************************************버튼**/
.btn-wrap { display:inline-block; width:auto; letter-spacing:-4px; text-align:center; }
.btn-wrap .btn{ display:inline-block; padding:0 10px; width:auto; min-width:60px; height:40px; line-height:40px; letter-spacing:normal;  border-radius:5px; text-align:center; }
.btn-wrap .btn.small{ min-width:auto; height:30px; line-height:30px; border-radius:var(--border1-radius4); }

.btn-wrap .btn-primary,
.form-group .btn.btn-primary { background-color:var(--primary); font-weight:700; color:var(--darkblue); }
.form-group .btn.btn-primary { padding:15px; height:48px; font-size:var(--font-16); border-radius:5px; line-height:0; }
.bottom-btn-wrap .btn.btn-primary.bidding::before { content:''; position:absolute; top:50%; transform:translateY(-50%); left:105px; display:inline-block; width:20px; height:20px; background:url("../images/bidding.png")no-repeat; }
/* .btn-wrap .btn-primary::before { content:''; display:inline-block; margin-right:8px; width:20px; height:20px; background:#d9d9d9; vertical-align:middle; } */
.btn-wrap .btn-green{ background-color:var(--main2); color:#fff; }
.btn-wrap .btn-darkblue{ background-color:var(--darkblue); font-size:var(--font-16); color:#fff; }
.btn-wrap .btn-line { background:var(--white); border:1px solid var(--border1); }
.btn-wrap .btn-download { color:var(--subtitle); background:var(--background2); }
.btn-wrap .btn-text{ color:var(--focus); font-size:var(--font-16); font-weight:700; background:transparent; border:0; border-radius:0;text-decoration:underline; text-underline-offset:4px; text-decoration-color:var(--focus); }

.btn-wrap .btn.txt { color:var(--darkblue); }
.btn-wrap + fieldset label span,
fieldset label span { font-size:var(--font-16); }
.btn-wrap .btn-line-primary {  background:var(--white); border:1px solid var(--primary); color:var(--primary); }
.btn-wrap .icon{  min-width:25px; height:25px; font-size:0; border-radius:var(--border1-radius4);  }
.btn-wrap .icon.search{ 
    background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22.729' height='22.729'%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='none' d='M-2-2h22.729v22.729H-2z'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg fill='none' stroke='rgba(85,85,85,0.6)' stroke-miterlimit='10' stroke-width='2' clip-path='url(%23a)' transform='translate(2 2)'%3E%3Ccircle cx='8' cy='8' r='8'/%3E%3Cpath d='m13.312 13.311 5.104 5.104'/%3E%3C/g%3E%3C/svg%3E"); 
    background-color:transparent; background-position:center;
}
.btn-wrap .icon.search:hover{ 
    background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22.729' height='22.729'%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='none' d='M-2-2h22.729v22.729H-2z'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg fill='#39A2A3' stroke='rgba(85,85,85,0.6)' stroke-miterlimit='10' stroke-width='2' clip-path='url(%23a)' transform='translate(2 2)'%3E%3Ccircle cx='8' cy='8' r='8'/%3E%3Cpath d='m13.312 13.311 5.104 5.104'/%3E%3C/g%3E%3C/svg%3E"); 
}

.btn-wrap .icon-text { padding-left:35px; }
.btn-wrap .big { padding:0 63px;  margin-left:20px; min-width:150px; height:65px; line-height:65px; font-weight:400; font-size:var(--font-size24); }
.btn-wrap .big:first-of-type,
.btn-wrap .big:only-child { margin-left:0; }
.btn-wrap .round {  border-radius:30px; }
.btn-wrap a.btn.btn-default,
.btn-wrap button.btn-default{ background:var(--default); }
.btn-layer-close { display:block; width:40px; height:40px; font-size:0;
    background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21.828' height='21.828'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-width='2'%3E%3Cpath d='m1.414 1.414 19 19M20.414 1.414l-19 19'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat:no-repeat; background-size:20px; background-position:center;
}

.btn-wrap.big button,
.btn-wrap.big a { margin-right:15px; min-width:150px; height:65px; line-height:65px; font-size:1.33rem;  }

/* btn이 오른쪽으로 갈 경우 */
.btn-right-wrap { width:100%; height:45px; }
.btn-right-wrap .btn-wrap { position:absolute; right:0; }
.btn-right-wrap + section { margin-top:20px; }

/******************************검색**************************/
.contents-wrap section.search { width:90%; max-width:1400px; min-width:1200px; }
.contents-wrap section.search h3 { font-size:var(--font-20); font-weight:800; color:var(--title); }
.contents-wrap section.search h3::before { content:''; display:block; margin-bottom:15px; width:40px; height:4px; background-color:var(--point); border-radius:30px; }
.form-wrap.search .form-group { padding:60px 80px; background:var(--background2); border-radius:10px; }
.form-wrap.search .form-group .form-row .col:first-of-type,
.form-wrap.search .form-group .form-row .col:nth-of-type(3) { flex:1; }
.form-wrap.search .form-group .form-row .col input { border:none; }
.form-wrap.search .form-group .form-row .col .select-wrap { min-width:159px; width:auto;}
.form-wrap.search .form-group .form-row .col .select-wrap .btn-select { border:none; }
.form-wrap.search .form-group .form-row .col .form-control,
.form-wrap.search .form-group .form-row .col .btn-wrap .btn { height:48px; }
.form-wrap.search .form-group .form-row .col .btn-wrap .btn { min-width:120px; width:auto;}
.form-wrap.search div.col { max-width:none; }
.form-wrap.search div.col input[type="search"] { display:inline-block; padding:10px 12px; width:100%; max-width:none; box-sizing:border-box; background:var(--white); border-radius:5px; font-size:0.875rem; line-height:1rem; font-weight:400; text-align:left; font-family:inherit; -webkit-appearance:none; -moz-appearance:none; appearance:none; }

.bottom-btn-wrap { text-align:center; }
.bottom-btn-wrap .terms-wrap + .btn-wrap { margin-top:20px; }
.bottom-btn-wrap > .btn-wrap,
.bottom-btn-wrap.result-area > .btn-wrap { width:100%; }
.bottom-btn-wrap > .btn-wrap span{ padding-left:30px; font-weight:bold; }
.bottom-btn-wrap > .btn-wrap a,
.bottom-btn-wrap > .btn-wrap button,
.cont-btn-wrap > .btn-wrap a { margin-right:15px; min-width:165px; height:63px; line-height:65px; font-size:var(--font-20); font-weight:700; }
.bottom-btn-wrap > .btn-wrap a + a { margin:0; }

.bottom-btn-wrap > .btn-wrap a:only-of-type,
.bottom-btn-wrap > .btn-wrap button:only-of-type,
.cont-btn-wrap > .btn-wrap a:only-of-type { min-width:320px; }
.cont-btn-wrap { margin-top:20px; }


.btn-pagenation { display:flex; align-items:center; justify-content: center; }
.btn-pagenation li { display:inline-block; margin-right:10px; }
.btn-pagenation li:last-child { margin-right:0; }
.btn-pagenation li:hover a { font-size:1.375rem; font-weight:700; }
.btn-pagenation li a,
.btn-pagenation li button { width:36px; height:36px; font-size:var(--font-20); line-height:36px; }
.btn-pagenation li.on a { font-weight:bold; color:var(--white); background:var(--darkblue); border-radius:50%; }

.btn-pagenation li button { font-size:0; }
.btn-pagenation li:first-of-type { margin-right:0; }
.btn-pagenation li:nth-last-of-type(2) { margin-right:0; }
.btn-pagenation li:first-of-type button { background:url('../images/two_arrow_left.png')no-repeat center; }
.btn-pagenation li:nth-of-type(2) button { background:url('../images/one_arrow_left.png')no-repeat center; }
.btn-pagenation li:nth-last-of-type(2) button { background:url('../images/one_arrow_right.png')no-repeat center; }
.btn-pagenation li:last-of-type button { background:url('../images/two_arrow_right.png')no-repeat center; }



.tooltip { display:inline-block; margin-left:8px; width:18px; height:18px; background-color:var(--border2); border-radius:50%; background-size:5px auto; background-repeat:no-repeat; background-position:center; font-size:0; vertical-align:top;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' data-name='layer 2' viewBox='0 0 15.35 42.07'%3E%3Cg data-name='layer 2'%3E%3Cellipse cx='11.35' cy='4.02' class='cls-1' rx='4' ry='4.02' fill='white'/%3E%3Cpath d='m6.86 36.82 5.11-21.54L9.2 13 0 17.18l1.66 3.64 5.48-2.49-5.1 21.44 2.74 2.3 8.77-3.77-1.58-3.68-5.11 2.2z' class='cls-1' fill='white'/%3E%3C/g%3E%3C/svg%3E");}

.contents-wrap > .nav-wrap { margin:0 auto; max-width:1400px; min-width:1200px; }
.nav-wrap .nav { display:block; width:100%; height:70px; background:transparent; border-bottom:1px solid var(--border2); text-align:center; }
.nav-wrap .nav > li{ display:inline-block; padding:0 56px; width:auto; min-width:130px; height:100%; color:var(--title); border:0;  font-size:var(--font-20); background:transparent; text-align:center; }
.nav-wrap .nav > li > a { display:inline-block; padding:23px 0; text-align:center; color:var(--title); font-weight:700; }
.nav-wrap .nav > li.on > a { color:var(--title); font-weight:700; }
.nav-wrap .nav > li.on::before { content:""; display:block; position:absolute; bottom:-2px; height:6px; left:0; right:0; background:var(--point); border-radius:10px; }

.nav-wrap.type2 .nav { display:block; width:100%; height:70px; background:transparent; border-bottom:1px solid var(--border2); text-align:center; }
.nav-wrap.type2 .nav > li{ display:inline-block; padding:0 56px; width:auto; min-width:130px; height:70px; color:var(--normal); border:0;  font-size:var(--font-20); background:var(--background2); text-align:center; }
.nav-wrap.type2 .nav > li:first-child { border-radius:10px 0 0 0; }
.nav-wrap.type2 .nav > li:last-child { border-radius:0 10px 0 0; }
.nav-wrap.type2 .nav > li > a { display:inline-block; padding:23px 0; text-align:center; color:var(--title); font-weight:700; }
.nav-wrap.type2 .nav > li.on { background:var(--point); }
.nav-wrap.type2 .nav > li.on > a { color:var(--white); font-weight:700; }
.nav-wrap.type2 .nav > li.on::before { content:none; }

.contents-wrap > .subvisual-wrap.type2 { padding:80px 0 164px; height:395px; background:url("../images/main_bg2.png"), linear-gradient(90deg, rgba(2,9,44,1) 0%, rgba(48,79,148,1) 100%); background-repeat:no-repeat;background-position:center top; color:var(--white); }
.subvisual-wrap.type2 .text-wrap h2,
.subvisual-wrap.type2 .text-wrap span { color:var(--white); }
.contents-wrap > .subvisual-wrap.type2 .subvisual-group { margin:0 auto;max-width: 1400px; min-width: 1200px; }
.contents-wrap > .subvisual-wrap.type2 .subvisual-group .breadcrumb-wrap li a { color: var(--white); }
.contents-wrap > .subvisual-wrap.type2 + .form-wrap.search { display:block; margin:-84px auto 0; width:90%; max-width:1200px; }


.tabs ul.tab-item.type1 { width:100%; border-bottom:2px solid var(--focus); }
.tabs ul.tab-item.type1 > li { display:inline-block; padding:15px 10px; width:100%; max-width:150px; text-align:center; font-size:var(--font-16); font-weight:700; color:var(--subtitle); border:2px solid var(--border1); border-bottom:0; background:var(--background2); }
.tabs ul.tab-item.type1 > li.on { background:var(--white); border:2px solid var(--focus); border-bottom:none; }
.tabs ul.tab-item.type1 > li.on::after { content:''; display:block; position:absolute; bottom:-2px; left:0; right:0; height:2px; background: var(--white); }
.tabs ul.tab-item.type1 > li.on a { color:var(--focus); }

/*********************************************************************************스텝**/

ul.step.type1 { display:flex; width:100%; }
ul.step.type1 li { width:100%; }
ul.step.type1 li::before{ content:""; display:block; width:100%; height:25px; background:var(--background); }
ul.step.type1 li:first-of-type:before {  border-radius:20px 0 0 20px; }
ul.step.type1 li span{ display:block; padding:5px 10px; width:100%; text-align:left; color:var(--normal-op80); }
ul.step.type1 li.prev::before,
ul.step.type1 li.on::before { background:var(--main); }
ul.step.type1 li:last-of-type:before,
ul.step.type1 li.on::before { border-radius:0 20px 20px 0; }
ul.step.type1 li.on::after { content:""; display:block; position:absolute; top:5px; left:10px; width:15px; height:15px; background:var(--white); border-radius:50px;  }
ul.step.type1 li.on span { color:var(--title); }


ul.step.icon { display:flex; align-items:center; margin:0 auto; width:100%; max-width:480px; }
ul.step.icon.col2 { max-width:280px; }
ul.step.icon.announcement,
ul.step.icon.telephone{ display:flex; margin:0 auto; padding:26px 0 20px; width:100%; max-width:1400px; min-width:1200px; } 
ul.step.icon.telephone { align-items: flex-start; }
ul.step.icon li { width:100%; padding:48px 10px 0; }
ul.step.icon li::before { content:""; display:block; position:absolute; top:23px; width:100%; height:1.5px; background:var(--border1); }
ul.step.icon li:first-of-type::before { left:50%;  }
ul.step.icon li:last-of-type::before {  right:50%; width:50%; }
ul.step.icon li::after { content:"아이콘영역"; display:block; position:absolute; top:0; left:50%; transform:translate(-50%, 0); width:45px; height:45px; border-radius:50%; background:var(--background); font-size:0; text-align:center; }
ul.step.icon li span{ display:block; padding:15px 10px 0; width:100%; text-align:center; color:var(--normal); font-weight:400; }
ul.step.icon li.on span { color:var(--focus); font-weight:700; }

/*********************************************************************************테이블**/
.table-type table { border-top:2px solid var(--normal) }
.table-type.border-top table { border-top:2px solid var(--title) }

.ta-c th,
.table-type.ta-c td,
[class^="table-type"] .table-type.ta-c th,
[class^="table-type"] .table-type.ta-c td { text-align:center;  }


[class^="table-type"] thead th:last-child,
[class^="table-type"] tbody th:last-child,
[class^="table-type"] thead td:last-child,
[class^="table-type"] tbody td:last-child{  border-right:0px solid var(--board); }

[class^="table-type"] th{ background:var(--background2); font-size:var(--font-18); font-weight:700; }

[class^="table-type"] thead th,
[class^="table-type"] tbody th,
[class^="table-type"] thead td,
[class^="table-type"] tbody td { word-break: keep-all; padding:20px 15px;  border-bottom:1px solid var(--border2); }

.table-type.table-col thead th,
.table-type.table-col tbody th,
.table-type.table-col thead td,
.table-type.table-col tbody td { word-break: keep-all; padding:20px 0 20px 20px;  border-bottom:1px solid var(--border2); }

[class^="table-type"] thead tr:nth-of-type(2) th { font-weight:400; }
[class^="table-type"] tbody td { font-weight:400; background-color:var(--white); }

.table-type.table-scroll { overflow-x:scroll; }
.table-type.table-scroll::-webkit-scrollbar { height:15px; }
.table-type.table-scroll::-webkit-scrollbar-thumb { height:11px; background-color:var(--subtitle); border-radius:2px; }
.table-type.table-scroll::-webkit-scrollbar-track { height:15px; background-color:var(--background2); border-radius:5px; }


/*********************************************************************************레이아웃**/
.flex{  height:100%; display:flex; align-items:center;  }
.flex.jc{ justify-content:center;  }
.flex.jb{ justify-content:space-between;  }
.wrap { padding-top:70px; min-width:1200px; }
.wrap > header,
.wrap > div,
.wrap > main,
.wrap > footer{ width:100%;  }

header#header { position:fixed; top:0; z-index:2; width:100%; background-color:var(--white); /*box-shadow: 0px 0px 10px 2px #ddd;*/ }
header#header .top { padding:20px 0; min-width:1200px; height:70px; }
header#header .top > div > * { vertical-align:middle; }
header#header .top > div > h1 { display:inline-block; margin-right:20px; width:100px; height:25px; font-size:0;  }
header#header .top > div > p { display:inline-block; width:auto; font-size:1rem; font-weight:700; color:var(--title); }
header#header .top > div > ul { position:absolute; right:0; top:50%; transform:translateY(-50%); display:flex; letter-spacing:0; }
header#header .top > div > ul li { display:inline-block; padding:0 15px; }
header#header .top > div > ul li a { font-size:var(--font-14); font-weight:700; color:var(--subtitle); /*text-decoration:underline;     text-underline-offset:6px; text-decoration-color:var(--subtitle);*/ }
/* header#header .top > div > ul li::after { content:''; position:absolute; right:0; top:50%; transform:translateY(-50%); display:inline-block; width:1px; height:10px; background-color:var(--subtitle); }
header#header .top > div > ul li:last-child { padding-right:0; }
header#header .top > div > ul li:last-child::after { content:none; } */

.sub-content { padding-bottom:100px; }
.sub-content > div { width:100%; }

.wrap > header > div > div,
.wrap > header > nav > ul,
.wrap > div > div > div,
.wrap > main > div > div,
.wrap > footer > div > div{ max-width:1400px; min-width:1200px; margin:0 auto; }

/* 인크루드 확인용 */
.wrap > div > header > div > div,
.wrap > div > header > nav > ul,
.wrap > div > div > div > div,
.wrap > div > main > div > div,
.wrap > footer > div > div{ max-width:1400px; min-width:1200px; margin:0 auto; }
/* 인크루드 확인용 */

.contents-wrap > div,
.contents-wrap > section:not(.contents-wrap > section.info-list, .contents-wrap > .nav-wrap, .contents-wrap > .result-area, .contents-wrap > .subvisual-wrap.type2, .contents-wrap > .subvisual-wrap.type2 + .form-wrap.search, .contents-wrap.login2 > section),
.contents-wrap > form,
.form-wrap + .bottom-btn-wrap { display:block; margin:80px auto 0; width:90%; max-width:1200px;  }
section.bottom-btn-wrap.result-area { margin:42px auto 0; }
.terms-area + .terms-area { margin-top:80px; }

.contents-wrap > div:first-of-type{ margin-top:0; }

.contents-wrap > section.tabs-wrap { display:block; margin:0 auto; width:90%; max-width:1200px; }
.contents-wrap > .subvisual-wrap + section.tabs-wrap { margin:40px auto 0; }
.subvisual-wrap .breadcrumb-wrap { display:inline-block; width:100%; text-align:right; }
.subvisual-wrap .breadcrumb-wrap ul > li{ display:inline-block; padding:0 20px 0 0; font-size:0.88rem; vertical-align:middle;  }
.subvisual-wrap .breadcrumb-wrap ul > li a { display:inline-block; width:auto; min-width:16px; height:20px; vertical-align:middle; font-size:var(--font-14); font-weight:300; }
.subvisual-wrap .breadcrumb-wrap ul > li:last-of-type { padding-right:0; }
.subvisual-wrap .breadcrumb-wrap ul > li::after { content:""; display:inline-block; position:absolute; top:50%; right:0; transform:translate(0, -50%); width:30px; height:30px;
    background: url("../images/arrow_right.png")no-repeat;background-position:center center;
}
.subvisual-wrap .breadcrumb-wrap ul > li:last-of-type { color:var(--title); }
.subvisual-wrap .breadcrumb-wrap ul > li:last-of-type::after { display:none; width:0; background:transparent; }
.subvisual-wrap .breadcrumb-wrap ul > li.home a{ display:inline-block; font-size:0; width:30px; height:30px; background: url("../images/home.png")no-repeat;  background-position:center top;
}
.subvisual-wrap .text-wrap h2 {  color:var(--title); font-size:var(--font-40); font-weight:800; }
.subvisual-wrap .text-wrap em { display:inline-block; padding:5px 32px; margin:0 auto 20px; width:auto; min-width:114px; border-radius:30px; font-size:var(--font-14); font-weight:500; }/*2024-03-21 padding 값 변경*/
.subvisual-wrap .text-wrap span {  display:block; padding-top:20px; color:var(--normal); font-size:var(--font-20); font-weight:400; }

/****팝업**/
.layerpopup{ display:none; position:fixed; top:0; left:0; width:100%; height:100%; background:#33333338; z-index:10; }
.layerpopup > .pop-header + div { padding:20px; }
.layerpopup > .content-wrap { position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); padding:60px 30px 60px 40px; min-width:300px; background:var(--white); border-radius:10px; box-shadow:0px 0px 0px #ddd; }
.layerpopup > .content-wrap h3 { margin-bottom:0; padding-bottom:40px; font-size:var(--font-36); font-weight:800; border-bottom:2px solid var(--border2); }
.layerpopup > .content-wrap > .pop-header .btn-layer-close { position:absolute; top:0; right:0; z-index:2; }
.layerpopup.laypop-all > .content-wrap { min-width:800px; min-height:300px; }
.layerpopup .ly-scroll-con { margin-top:40px; padding:20px 20px 30px 20px; background-color:var(--background2); border-radius:5px; }

.layerpopup .ly-scroll-con .scroll { width:100%; height:100%; padding-right:20px; min-height:500px; height:1px; overflow-y:auto; }
.layerpopup .ly-scroll-con .scroll::-webkit-scrollbar { width:15px; }
.layerpopup .ly-scroll-con .scroll::-webkit-scrollbar-thumb { width:11px; background-color:var(--subtitle); border-radius:2px; border-radius:2px; }
.layerpopup .ly-scroll-con .scroll::-webkit-scrollbar-track { width:15px; background-color:var(--white); border-radius:5px; }
.layerpopup .ly-scroll-con .scroll::-webkit-scrollbar-button {  height:20px; }

.layerpopup .ly-scroll-con dl,
.layerpopup .ly-scroll-con p { margin-top:40px; }
.layerpopup .ly-scroll-con dl:first-child,
.layerpopup .ly-scroll-con p:first-child { margin-top:0; }
.layerpopup .ly-scroll-con .table-wrap { margin-top:15px; }
.layerpopup .ly-scroll-con p.tit,
.layerpopup .ly-scroll-con dl dt.tit { padding-bottom:15px; font-size:var(--font-16); font-weight:700; }
.layerpopup .ly-scroll-con dl .subli { margin-left:20px; }

.layerpopup .ly-scroll-con .table-wrap { padding:20px; border-radius:10px; background-color:var(--white); }
.laterpopup .ly-scroll-con [class^="table-type"] thead th, [class^="table-type"] tbody th, [class^="table-type"] thead td, [class^="table-type"] tbody td { border-right:none; }

.layerpopup > .content-wrap .bottom-btn-wrap { margin-top:40px; text-align:center; }
/* .layerpopup .bottom-btn-wrap > .btn-wrap a,
.layerpopup .bottom-btn-wrap > .btn-wrap button { margin-right:5px; min-width:75px; height:45px; line-height:45px; font-size:1.15rem; } */
.layerpopup .laypop-alert > .content-wrap { min-width:350px; min-height:250px; }


/****보조문구****/
.info-txt-wrap{ display:block; padding-left:10px; font-size:0.8rem; }
.info-txt-wrap-bt { display:block; padding-left:10px; margin-top:15px; font-size:0.8rem; }
.info-txt-wrap-bt p { color:var(--subtitle); }
.info-txt-wrap::before,
.bottom-btn-wrap .info-txt-wrap.no p.info { margin:0 auto; width:430px; }
.info-txt-wrap::before,
.info-txt-wrap-bt::before {  content:"*"; display:inline-block; position: absolute; top:50%; left:0; transform: translate(0, -50%); width:15px; height:15px; text-align:center; }
.table-wrap + .info-txt-wrap.no { margin-top:15px; }
.bottom-btn-wrap .info-txt-wrap.no::before { content:none; }
.info-txt-wrap .info { font-size:var(--font-14); color:var(--subtitle); }
.info-txt-wrap.fail {  color:var(--failed); }
.info-txt-wrap.fail::before { background-color:var(--failed); }

.form-group.flex .info-txt-wrap { margin-left:15px; }

p.bul-refer { font-weight:500; }
p.bul-refer::before { content:"※"; display:inline; margin-right:7px; color:var(--normal); font-weight:400; }

th .info-txt-wrap,
.info-txt-wrap.no { padding-left:0; }
th .info-txt-wrap::before,
.info-txt-wrap.no::before { content:none; }


/* footer */
.footer-wrap { padding:80px 0; color:var(--white); background-color:#001F3C; }
.footer-wrap .footer { margin:0 auto; }
.footer-wrap > div { display:block; margin:0 auto 0; width:90%; max-width:1400px; min-width:1200px; }
.footer-wrap .policy-link { text-align:left; }
.footer-wrap .policy-link a { padding:0; height:auto; color:var(--white); font-weight:700; line-height:initial; text-decoration:none; }
.footer-wrap .policy-link a::after { content:""; display:inline-block; margin:0 15px; width:1px; height:15px; background-color:var(--background2); }
.footer-wrap .policy-link a:last-child:after { content:none; }
.footer-wrap .list-wrap .address { margin-top:40px; font-weight:700; }
.footer-wrap .list-wrap .Copyright { margin-top:20px; font-weight:400; }
.footer-wrap .form-wrap { position:absolute; top:0; right:0; }
.footer-wrap .form-wrap .btn-wrap .btn-ok { width:120px; height:48px; font-size:var(--font-16); font-weight:700; color:var(--white); background-color:var(--point); }

/* footer2 */
.footer-wrap2 { padding:80px 0; color:var(--title); background-color:#f5f5f5; }
.footer-wrap2 .footer { margin:0 auto; }
.footer-wrap2 > div { display:block; margin:0 auto 0; width:90%; max-width:1400px; min-width:1200px; }
.footer-wrap2 .policy-link { text-align:left; }
.footer-wrap2 .policy-link a { padding:0; height:auto; color:var(--title); font-weight:700; line-height:initial; text-decoration:none; }
.footer-wrap2 .policy-link a::after { content:""; display:inline-block; margin:0 15px; width:1px; height:15px; background-color:var(--title); }
.footer-wrap2 .policy-link a:last-child:after { content:none; }
.footer-wrap2 .list-wrap .address { margin-top:40px; font-weight:700; color:var(--normal); }
.footer-wrap2 .list-wrap .Copyright { margin-top:20px; font-weight:400; color:var(--normal); }
.footer-wrap2 .form-wrap { position:absolute; top:0; right:0; }
.footer-wrap2 .form-wrap .btn-wrap .btn-ok { width:120px; height:48px; font-size:var(--font-16); font-weight:700; color:var(--white); background-color:var(--darkblue); }